@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  color: $text-main;
}

h1, .h1 {
  font-size: 6em;
}

h2, .h2 {
  font-size: 1.5em;
}

h3, .h3 {
  font-size: 1em;
}
